/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #190237;
    color: #F5F6F8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000; /* Asegura que el header esté siempre encima */
}

.header .logo-titulo-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .logo-titulo-contenedor img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header .titulo-subtitulo {
    display: flex;
    flex-direction: column;
}

.header .titulo-subtitulo h1 {
    font-size: 30px;
    margin: 0;
}

.header .titulo-subtitulo p {
    font-size: 12px;
    margin: 0;
    color: #999;
}

/* Main */
main.contenedor-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 80px; /* Espacio para evitar que el main se superponga al header fijo */
}

/* Sidebar */
.sidebar {
    background-color: #E6E6EB; 
    width: 250px;
    padding: 20px;
    border-right: 1px solid #afabab;
    overflow-y: auto; /* Permite desplazamiento vertical si hay muchos departamentos */
}

.departamento {
    margin-bottom: 15px;
}

.departamento h3 {
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid #0090C0;
    padding-bottom: 5px;
}

.area {
    padding: 8px 12px;
    margin: 10px 0;
    background-color: #ffffff;
    border-radius: 6px;
    border-left: 4px solid #0090C0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.area:hover {
    background-color: #b1a9d6;
}

/* Contenedor de Área */
.contenedor-area {
    flex: 1;
    padding: 10px;
    background-color: #bfbdc2;
    /*border:  solid #080808;*/
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contenedor-dashboard {
    height: 100%;
}

.dashboard-main {
    height: 100%;
}

.contenedor-reporte {
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.report-frame {
    width: 98%;
    height: 95%;
    border: none;
}

/* Footer */
.footer {
    background-color: #190237;
    color: #F5F6F8;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}