body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CACAD5;
}

.header {
    background-color: #190237;
    color: #F5F6F8;
    padding: 15px 30px;
    display: flex;
    position: fixed;
    top: 0; /* Lo pega arriba */
    left: 0; /* Lo pega a la izquierda */
    width: 100%; /* Ocupa todo el ancho (ajusta si necesitas menos) */
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: flex-start; /* Alinea horizontalmente a la izquierda */
    text-align: left; /* Asegura que el texto interno también esté a la izquierda */
    gap: 20px; /* Espacio entre los elementos (opcional) */
    box-shadow: 0 2px 10px rgb(0, 0, 0,0.1);

}

.logo-titulo-contenedor{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo{
    height: 80px;
    width: auto;
}

.titulo-subtitulo h1{
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.2;
}

.titulo-subtitulo p{
    margin: 5px 0 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

.contenedor-main{
    display: flex;
    max-width: 1400px;
    margin-top: 90px; /* Ajusta este valor según la altura real del header */
    background-color: #0090C0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    min-height: 75vh;
}

.sidebar{
    width: 250px;
    padding: 20px;
    background-color: #E6E6EB;
    border-radius: 8px 0 0 8px;
}

.departamento{
    margin-bottom: 25px;
}

.departamento h3{
    color: #0d0d0e;
    border-bottom: 2px solid #0090C0;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.area{
    padding: 8px 12px;
    margin: 5px 0;
    background-color: #ffffff;
    border-left: 4px solid #0090C0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.area:hover{
    background-color: #e6f2ff;
}

.area.active{
    background-color: #0090C0;
    color: #ffffff;
}

.contenedor-reporte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
    min-height: 700px;
    border: none;
    border-radius: 8 8px 8 px 0;
}

.contenedor-dashboard{
    padding: 20px;
    flex: 1;
}

.dashboard-main{
    display: flex;
    gap: 20px;
}

.contenedor-main{
    display: flex;
    min-height: calc(100vh - 80px);
}

.contenedor-area{
    flex: 1;
    padding: 20px;
}

.footer{
    background-color: #190237;
    color: #F5F6F8;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgb(0, 0, 0,0.1);
}